.container.detail_banner_container.indexup.pt-4.pt-sm-0.pb-5.pb-sm-0
    .row.slider_wrapper.align-items-end
        .col-12.align-self-center
            h1.display-2.slider_title.fw-bold.text-white.text-center Sayfa Adı