.container.indexup.header_wrapper
  .header
    nav.navbar.navbar-expand-lg.navbar-dark.bg-transparent
      .container-fluid
        a(href="/") 
          img.logo(src="./assets/images/logo.png", alt="logo")
        .get-information.d-flex.d-lg-none.ml-auto   
          include ../components/icons/info-icon.pug

        button.navbar-toggler(type='button')
          span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse
          ul.navbar-nav.me-auto.ms-auto.mb-2.mb-lg-0
            li.nav-item
              a.nav-link.active(aria-current='page' href='#') Anasayfa
            li.nav-item
              a.nav-link(href='#') Bölümler & Programlar
            li.nav-item
              a.nav-link(href='#') Kontenjanlar
            li.nav-item
              a.nav-link(href='#') Kişilik Testleri
            li.nav-item
              a.nav-link(href='#') Blog
            li.nav-item
              a.nav-link(href='#') İletişim
          div.d-flex.align-items-center 
            a.btn-nav-menu(href="#")
              img(src="./assets/images/icons/icon-inf.png") 
            button#getInformation.btn.btn-danger.btn-block-custom(type='button') Bilgi Al
