footer.footer {
    background-image: url("../assets/images/footer-bg.svg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 550px;

    .footer-social-links {
        button {
            border-radius: 0.25rem !important;
            transition: all 0.2s ease;

            &:hover {
                opacity: 0.85;
            }
        }
    }

    .footer-menu {
        @media screen and (max-width:576px) {
            width: 100%;
        }
    }
}