.header_wrapper {
    position: absolute !important;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 15px;

    .get-information {
        margin-left: auto;
        height: 40px;
        width: 40px;
        background: $red;
        display: flex;
        border-radius: 5px;
        align-items: center;
        justify-content: center;
        margin-right: 10px;

        svg {
            fill: $white;
            height: 50%;
        }
    }

    @media screen and (max-width:576px) {
        position: absolute !important;
    }

    .header {
        height: 65px;

        .navbar-toggler {}

        @media screen and (max-width:576px) {
            margin-top: 15px;
        }

        .logo {
            height: 55px;
        }

        .collapse {

            ul {
                li {
                    white-space: nowrap;

                    .nav-link {
                        position: relative;

                        &.active {
                            &::after {
                                content: "";
                                display: block;
                                position: absolute;
                                width: 20px;
                                height: 3px;
                                background-color: $white;
                                border-radius: 5px;
                                bottom: 0px;
                            }
                        }
                    }
                }
            }


        }

        .btn-nav-menu {
            display: block;
            margin-right: 8px;

            @include query(desktop) {
                margin-right: 20px;
            }


            img {
                width: 22px;
                height: 22px;
            }
        }
    }
}