footer.footer.mt-5.d-flex.flex-column.justify-content-center
    .container.mt-5
        .row.mt-5
            .col-12.col-lg-6.d-flex.align-items-center.justify-content-between.flex-wrap
                .footer-menu.mb-0
                    h4.fs-5.text-white.mb-4.fw-bold  Footer Menu 1
                    ul.ps-0 
                        li.mb-3.list-style-none
                            a(href="#").text-white.fs-6.text-decoration-none  Menu Item
                        li.mb-3.list-style-none
                            a(href="#").text-white.fs-6.text-decoration-none  Menu Item
                        li.mb-3.list-style-none
                            a(href="#").text-white.fs-6.text-decoration-none  Menu Item
                        li.mb-3.list-style-none
                            a(href="#").text-white.fs-6.text-decoration-none  Menu Item
                .footer-menu.mb-4.mb-sm-0.d-none.d-lg-block
                    h4.fs-5.text-white.mb-4.fw-bold  Footer Menu 1
                    ul.ps-0 
                        li.mb-3.list-style-none
                            a(href="#").text-white.fs-6.text-decoration-none  Menu Item
                        li.mb-3.list-style-none
                            a(href="#").text-white.fs-6.text-decoration-none  Menu Item
                        li.mb-3.list-style-none
                            a(href="#").text-white.fs-6.text-decoration-none  Menu Item
                        li.mb-3.list-style-none
                            a(href="#").text-white.fs-6.text-decoration-none  Menu Item
                .footer-menu.d-none.d-lg-block
                    h4.fs-5.text-white.mb-4.fw-bold  Footer Menu 1
                    ul.ps-0 
                        li.mb-3.list-style-none
                            a(href="#").text-white.fs-6.text-decoration-none  Menu Item
                        li.mb-3.list-style-none
                            a(href="#").text-white.fs-6.text-decoration-none  Menu Item
                        li.mb-3.list-style-none
                            a(href="#").text-white.fs-6.text-decoration-none  Menu Item
                        li.mb-3.list-style-none
                            a(href="#").text-white.fs-6.text-decoration-none  Menu Item
            .col-12.col-lg-6.d-flex.justify-content-lg-center.mt-4.mt-lg-0
                .footer-social-links
                    h4.fs-4.mb-3.text-white.fw-bold Bizi Takip Edin!
                    .btn-group.flex-wrap(role='group' aria-label='Basic outlined example')
                        button.px-4.me-2.btn.btn-light.flex-grow-0.flex-grow-lg-1.mb-lg-0.mb-2(type='button') 
                            -var fill = "#E5142C";
                            include ./icons/instagram-footer.pug
                        button.px-4.me-2.btn.btn-light.flex-grow-0.flex-grow-lg-1.mb-lg-0.mb-2(type='button')
                            -var fill = "#E5142C";
                            include ./icons/twitter-footer.pug
                        button.px-4.me-2.btn.btn-light.flex-grow-0.flex-grow-lg-1.mb-lg-0.mb-2(type='button') 
                            -var fill = "#E5142C";
                            include ./icons/youtube-footer.pug
                        button.px-4.me-2.btn.btn-light.flex-grow-0.flex-grow-lg-1.mb-lg-0.mb-2(type='button') 
                            -var fill = "#E5142C";
                            include ./icons/facebook-footer.pug
                        button.px-4.me-2.btn.btn-light.flex-grow-0.flex-grow-lg-1(type='button') 
                            -var fill = "#E5142C";
                            include ./icons/whatsapp-footer.pug
        .row.mt-5
            .col-12.col-lg-6
                h4.fs-5.text-white.mb-2.mb-lg-4.fw-light  Telif hakları yazısı 2022
                h5.fs-6.text-white.fw-light.mb-0  Designed by TheCreew
            .col-12.col-lg-6.align-self-end.mt-4.mt-lg-0.mb-4.mb-lg-0
                h4.fs-5.text-white.fw-light.text-lg-end.mb-0 
                    a(href="#!").text-white.text-decoration-none.fw-light Aydınlatma Metni 
                    span
                        | | 
                    a(href="#!").text-white.text-decoration-none.fw-light Gizlilik Politikası


                