<!DOCTYPE html>
html(lang="tr")
    head
        - var title = "Altınbaş Üniversitesi"
        - var desc = "Altınbaş Üniversitesi"
        include ./inc/head.pug
    body
        main
            .card
                .card-body 
                    |te
        include ./inc/foot.pug
