svg(xmlns='http://www.w3.org/2000/svg' width='35.247' height='20' viewBox='0 0 35.247 20')
    path#Path_25(data-name='Path 25' d='M32.472,4.586,18.209,18.848,3.947,4.586.586,7.947,16.529,23.89a2.377,2.377,0,0,0,3.361,0L35.833,7.947Z' transform='translate(-0.586 -4.586)' fill=fill)
