.home {
    .home-banner {
        position: relative;
        height: 100%;
        padding-top: 95px;
        // @media screen and (min-width:1921px) {
        //     height: calc(72vh - 95px);
        // }

        @media screen and (max-width:576px) {
            position: relative !important;
            padding-top: 95px;
            height: 100%;
        }

        .banner_container {
            height: 100%;

            .row {
                height: 100%;

                .col-7 {
                    align-self: center;
                }
            }
        }

        &::before {
            content: "";
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            background: linear-gradient(#000c7a 0%, #212c55 100%);
            z-index: 1;

            @media screen and (min-width:1921px) {
                height: 72%;
            }

            @media screen and (max-width:576px) {
                height: 100%;
            }
        }


        &::after {
            content: "";
            background-image: url("../assets/images/banner.png");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            position: absolute;
            top: 0px;
            right: 0px;
            bottom: 0px;
            left: 0px;
            opacity: 0.09;
            z-index: 2;

            @media screen and (max-width:576px) {
                height: 100%;
            }
        }

        .banner-contact-wrapper {
            position: absolute;
            z-index: 10;
            top: 50%;
            transform: translateY(-50%);
            position: absolute;
            z-index: 10;
            left: 40px;

            .banner_social_buttons {
                position: relative;

                ul {
                    .marker_whatsapp {
                        &:after {
                            content: "";
                            display: block;
                            position: absolute;
                            height: 50px;
                            width: 250px;
                            background-color: #25D366;
                            z-index: -1;
                            top: 13%;
                            left: -200px;
                            transform: translateX(0);
                            opacity: 1;
                            transition: all 0.25s ease;
                        }
                    }

                    li {
                        list-style: none;
                        position: relative;

                        a {
                            padding-top: 20px;
                            padding-bottom: 20px;
                            display: inline-block;
                            transition: all 0.2s ease;

                            &:hover {
                                opacity: 0.8;
                            }
                        }

                    }
                }


            }

            .banner_contact {
                display: flex;
                align-items: center;
                transform: rotate(-90deg);
                position: absolute;
                left: -91px;
                z-index: 5;

                .line {
                    height: 1px;
                    width: 80px;
                    background-color: rgba($color: $white, $alpha: 0.66);

                    &.sm {
                        width: 40px;
                    }
                }

                a {
                    @include poppins($xs);
                    color: $white;
                    margin: 0 45px;
                    display: block;
                    text-decoration: none;
                    transition: all 0.2s ease;

                    &:hover {
                        color: rgba($color: $white, $alpha: 0.60);
                    }
                }
            }
        }


        .slider_wrapper {

            .slider_title {
                font-weight: 600;
                color: $white;

                @media screen and (max-width:576px) {
                    font-size: 38px;
                }
            }

            p {
                @include poppins(22px);
                color: rgba($color: $white, $alpha: 0.5);

                @media screen and (max-width:576px) {
                    font-size: 16px;
                }
            }

            .slider_button {
                margin-top: 40px;

                @media screen and (max-width:576px) {
                    font-size: 14px;
                }
            }

            .slider_image {
                -webkit-filter: drop-shadow(10px 5px 15px #070c22b8);
                filter: drop-shadow(10px 5px 15px #070c22b8);

                @media screen and (max-width:1440px) {
                    max-height: 676px;
                }

                @media screen and (max-width:1280px) {
                    max-height: 600px;
                }
            }
        }
    }

    .detailed_information {
        .section_title_sm {
            @include poppins($sm);
            color: $red;
        }

        .section_title_lg {
            font-weight: 600;
            color: $blue;
        }

        .faculty-card {
            margin-bottom: 35px;

            .card-body {
                transition: all 0.2s ease;

                &:hover {
                    transform: translateX(0.5%);
                    background: darken($color: $white, $amount: 3);
                }
            }

            &:last-child {
                @media screen and (max-width:576px) {
                    margin-bottom: 0;
                }
            }

            @media screen and (max-width:576px) {
                margin-bottom: 15px;
            }

            .faculty_image {
                height: 65px;
                margin-right: -15px;
                position: relative;
                z-index: 9999;

                @media screen and (max-width:576px) {
                    height: 50px;
                }
            }

            .card-body {
                padding-left: 25px;

                h6 {
                    margin-bottom: 5px;
                    font-weight: 600;
                    color: $text !important;
                }
            }
        }
    }


    section.fast_menu {
        .menu-card {

            img {
                height: 55px;
                margin-right: -15px;
                position: relative;
                z-index: 5;

                @media screen and(max-width:576px) {
                    height: 45px;
                }

            }

            .card-body {
                padding-left: 30px;
                transition: all 0.2s ease;

                &:hover {
                    transform: translateX(0.5%);
                    background: darken($color: $white, $amount: 3);
                }

                @media screen and(max-width:576px) {
                    padding-left: 20px;

                    h6 {
                        font-size: 12px !important;
                    }
                }
            }
        }
    }

    section.gallery {
        .gallery_wrapper {
            position: relative;

            .video_img {
                width: 100%;
                height: 100%;
                object-fit: cover;

                @media screen and(max-width:768px) {
                    max-height: 400px;

                    h6 {
                        font-size: 12px !important;
                    }
                }
            }

            .small_image_row {
                img {
                    width: 100%;
                }
            }

            .video_title_wrapper {
                position: absolute;
                top: 0;
                background: rgba($color: $black, $alpha: 0.22);
                margin-top: 45px;
                margin-left: 45px;
                padding-top: 15px;
                padding-left: 25px;
                width: 35%;

                @media screen and (max-width:992px) {
                    width: 55%;
                    margin-top: 20px;
                    margin-left: 30px;
                }

                .video_title {
                    @include poppins(18px);
                    color: $white;
                    margin-bottom: 2px;
                    font-weight: 500;
                }

                .video_description {
                    @include poppins(15px);
                    color: $white;
                }

                .video-play-btn {
                    .video-preview-img {
                        width: 100%;
                        max-height: 450px;
                    }

                    .preview-play-button {
                        width: 65px;
                        height: 65px;
                        background-color: rgba($color: $red, $alpha: 0.65);
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translateY(-50%) translateX(-50%);
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        animation: shadow-pulse 1.5s infinite;
                        cursor: pointer;

                        img {
                            height: 24px;
                        }
                    }
                }

                &::before {
                    content: "";
                    display: block;
                    position: absolute;
                    left: -8px;
                    top: 0;
                    height: 100%;
                    background-color: $red;
                    width: 8px;
                }

            }
        }
    }

    section.students_slider {
        .students_slider_wrapper {
            background: rgba($color: $blue, $alpha: 0.1);
        }

        .swiper_controller {
            .swiper-pagination {
                position: relative;
                bottom: inherit;
                left: inherit;
                width: auto;

                .swiper-pagination-bullet {
                    width: 30px;
                    height: 2px;
                    border-radius: 0;

                    &-active {
                        background: $blue;
                    }
                }
            }

            .swiper-button-prev-custom {
                transform: rotate(90deg);
                cursor: pointer;
                transition: all 0.2s ease;

                &:hover {
                    opacity: 0.5;
                }
            }

            .swiper-button-next-custom {
                transform: rotate(-90deg);
                cursor: pointer;
                transition: all 0.2s ease;

                &:hover {
                    opacity: 0.5;
                }
            }
        }

        .slider-card {

            .slider-card-header {
                img {
                    height: 57px;
                    border-radius: 50%;
                }
            }
        }


    }

    .box_section {
        .box_item {
            position: relative;
            height: auto;
            background-color: #000C7A !important;

            &::before {
                @media screen and(max-width:576px) {
                    padding-top: 48% !important;
                }
            }

            &::after {
                content: "";
                display: block;
                padding-bottom: 75%;

                @media screen and(max-width:768px) {
                    padding-bottom: 50%;
                }
            }

            .box_content_first {
                position: absolute;
                width: 100%;
                height: 100%;
                overflow: hidden;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 30px;
                padding-right: 20px;

                @media screen and(max-width:760px) {
                    padding: 20px;
                }

                @media screen and(max-width:576px) {
                    padding: 10px;
                }

                .item_header {
                    height: 30%;

                    img {
                        height: 100%;
                    }
                }

                .item_body {

                    .item_title {
                        @include poppinsBold(10px);
                        font-size: calc(.575rem + 1vw);
                        color: $white;

                        @media screen and (max-width:576px) {
                            font-size: calc(.575rem + 2vw);

                        }
                    }
                }

                .item_footer {
                    display: flex;
                    align-items: flex-end;
                    justify-content: flex-end;

                    button {
                        @include poppins(14px);
                        color: $black;

                        &:hover {
                            background-color: darken($color: $white, $amount: 10);
                        }

                        img {
                            height: 24px;
                        }
                    }
                }
            }
        }
    }
}

@keyframes shadow-pulse {
    0% {
        box-shadow: 0 0 0 0px rgba($color: $red, $alpha: 0.35);
        transform: translateY(-50%) translateX(-50%) scale(1.05);
    }

    100% {
        box-shadow: 0 0 0 35px rgba($color: $red, $alpha: 0);
        transform: translateY(-50%) translateX(-50%) scale(1);
    }
}

.custom-lg-label {
    font-weight: 600;
    color: $blue;
    display: block;
    margin-bottom: 2px !important
}

.custom-lg-select {
    color: $blue;
    font-weight: normal;
    height: 48px;
    border-color: $border;
}